
html{
    scroll-behavior: smooth;
}

/* sets to this preference for all objects */
* {
    font-family: 'Nunito';
    background: #fff;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar styles  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    min-height: 3.25rem;
}
/* moringa logo  */
.navbar-logo p{
    letter-spacing: 2px;
    color: #ec4067;
    font-weight: 700;
}
.navbar-logo p span{
    color: rgb(46, 46, 46);
}

/* navbar items */
ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: baseline;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    font-size: medium;
    color: #444;
    text-align: center;
    margin: 0 0.1em;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: 100;
}

/* Change the link color to pink on hover */
li a:hover {
    border-bottom: 3px solid #ec4067;
}
/* no border on button */
li:last-child a:hover{
    border: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: #ec4067;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: #ec4067 0px 0px 0px 0px inset;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;

    transition: ease-out 0.3s;

}

.buttons button:hover {
    box-shadow: inset 100px 0px 0 0 #fff;
    border: 1px solid #ec4067;
    color: #ec4067;
}

.buttons button:nth-child(2) {
    color: #ec4067;
    background-color: #fff;
    border: 1px solid #ec4067;
}

.buttons button:nth-child(2):hover {
    box-shadow: inset 200px 0 0 0 #ec4067;
    color: #fff;
}

.section{
    padding: 3rem 1.5rem;
    min-height: calc(100vh - 3.25rem);
    width: 100vw;
}
.columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.column.is-3{
    width: 25%;
    padding: 3em;    
}
.column.is-4{
    width: 44.4%;
    padding: 3em;    
}
.column.is-6{
    width: 50%;
    padding: 3em;    
}
.column.is-8{
    width: 66.6%;
    padding: 3em;
}
.subtitle{
    font-size: 18px;
}
.title{
    padding: 0.2em 0 1em;
    color: #ec4067;
    font-size: 1.5em;
    font-weight: 300;
    width: 100%;
    letter-spacing: 2px;
}
.content{
    color: #444;
    font-weight: normal;
}

.image.is-large{
    height: 16em;
    width: 16em;
    position: relative;
}
.image.is-large img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image.is-normal{
    height: 16em;
    width: 21em;
    position: relative;
}
.image.is-normal img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons.is-large{
    display: block;
    margin: 2em 0 1em;
}

.buttons.is-large button{
    margin-right: 1em;
    min-width: 8em;
    
}
.buttons.is-large button:hover {
    box-shadow: inset 200px 0px 0 0 #fff;
    border: 1px solid #ec4067;
    color: #ec4067;
}
.buttons.is-large button:nth-child(2):hover {
    box-shadow: inset 200px 0 0 0 #ec4067;
    color: #fff;
}